
<html>
<head>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h1 style="color:red"><span>Blood Tips</h1>
</head>
<body>
    <ul type="bullet" style="color:red">
        <li><p>Drink plenty of water the night and morning before you donate.</li></p>
        <li><p>Eat breakfast to help keep your blood sugar up.</li></p>
        <li><p>Eat iron rich foods for 2 weeks before your appointment; for example, spinach, whole grains, eggs, and beef.</li></p>
        <li><p>Avoid fatty foods for twenty-four hours before you donate</li></p>
        <li><p>Avoid smoking on the day before donating.You can smoke 3 hours after donation</li></p>
        <li><p>Ask for a blanket if your hands or feet start to feel cold.</li></p>
        <li><p>Have a snack after the donation.Rest for a few minutes enjoying your snack before leaving the donation site.</li></p>
        <li><p>Eat a meal high in protein after your donation: beef, chicken or legumes are excellent choices.</li></p>
        <li><p>You will not be eligible to donate blood if you have consumed alcohol 48 hours before donation.</li></p>
        <li><p>Avoid heavy lifting and strenuous exercise for the rest of the day.</li></p>
        <li><h3>Nervous ? Read this :</li></h3>
        <li>
            <h4>
                Will I feel tired ?
        </li></h4>
        <p>You will not feel drained or tired if you continue to drink fluids and have a good meal</p>
        <li><h4>Will I be bedridden for the rest of the day ? </li></h4>
        <li><p>You can resume all your normal activities, though you're asked to refrain</li></p>
        <li><h4>Will I be in danger of having low blood ?  </li></h4>
        <li><p>If you are verified to donate by the doctor you will still have surplus blood after the donation.</li></p>
        <li><h4>Ahh - Syringes ! How much will it hurt ?   </li></h4>
        <li><p>No, you will not feel any pain.</li></p>
        <li><h4>Does one feel dizzy after this ?  </li></h4>
        <li><p>You will not faint or feel uncomfortable after donating blood.</li></p>
        <li>
            <h4>Oh My God ! I'll get AIDS !
        </li></h4>
        <li><p>No! Make sure disposable syringes are used and all measures are taken to keep you germ free.</li></p>
    </ul>
</body>
</html>

