
@{
    ViewBag.Title = "bloodfactors";
}

    
    <center>
        <table bordercolor=" red" border="4" style="color:red">


            <tr>
                <th>Factor</th>
                <th>NAME</th>
            </tr>
            <tbody>
                <tr>
                    <td>I</td>
                    <td>Fibrinogen</td>

                </tr>
                <tr>
                    <td>II</td>
                    <td>Prothrombin</td>
                </tr>
                <tr>
                    <td>III</td>
                    <td>Tissue factor or thromboplastin</td>
                </tr>
                <tr>
                    <td>IV</td>
                    <th>Calcium</th>
                </tr>
                <tr>
                    <td>V</td>
                    <td>
                        Proaccelerin (Labile factor)
                    </td>
                </tr>
                <tr>
                    <td>VI</td>
                    <td> Proconvertin (Stable factor)</td>
                </tr>
                <tr>
                    <td>VII</td>
                    <td>
                        Antihaemophilic factor A,
                        Antihaemophilic globulin
                    </td>
                </tr>
                <tr>
                    <td>VIII</td>
                    <td>
                        Antihaemophilic factor B,
                        Plasma thromboplastin component,
                        Christmas factor
                    </td>
                </tr>
                <tr>
                    <td>IX</td>
                    <td>
                        Stuart-Prower factor
                    </td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>Plasma thromboplastin antecedent,</td>
                </tr>
                <tr>
                    <td>XI</td>
                    <td>Hageman factor</td>
                </tr>
                <tr>
                    <td>XII</td>
                    <td>
                        Haemophilia C,
                        Rosenthal syndrome
                    </td>
                </tr>
                <tr>
                    <td>XIII</td>
                    <td>
                        Fibrin stabilising factor,
                        Laki-Lorand factor
                    </td>
                </tr>
                <table>
</center>

